.body{
    font-family: 'Josefin Sans', sans-serif;
    margin-left:28%;
}
.nav{
    margin-left: 79%;
    text-decoration-style: none;
}
    .nav p{
        direction: flex;
         float: left;
         padding: 0.5rem;
         /* font-family:  'Josefin Sans; */
         /* color: black; */
         margin-top: 0.6rem;
         
         
    }
    .nav a{
        text-decoration: none;
    }
    .nav a:hover{
        text-decoration: underline;
    }
    #bnt:hover{
        opacity: 0.5;
        transition: 1s;
    }
    .nav img{
        height: 1.2rem;
        margin-top: 1rem;
        margin-left: 0.7vw;

    }
    /* .nav img:hover{
        background-image: hsl(206, 3%, 52%);
        height: 1.25rem;
    } */
    .nav button{
        border:none ;
        padding: 0.95vw;
        width: 5.7vw;
        background-color: hwb(225 22% 5%);
        color: white;
        border-radius: 0.2rem;
        margin-top: 0.4rem;
        margin-left: 1.7vw;
        position: absolute;
    }
    /* #bnt:hover{
        opacity: 0.5;
    } */
    .spa{
        margin-top: 4rem;
        font-size: 11rem;
        text-align: center;
        /* font-family: 'Josefin Sans', sans-serif; */
        /* font-weight: 50px; */
    }
    .se input{
    margin-left: 28vw;
    border-radius:2rem;  
    width: 37vw;
    height: 2.6rem;
    padding-inline-start: 4rem;
    
   }

   #d{
    margin-top: -2em;
    position: absolute;
    height: 20px;
    margin-left: 30vw;
   }
   #d1{
    margin-top: -2em;
    position: absolute;
    height: 20px;
    margin-left: 64vw;
   }
   #d2{
    margin-top: -2em;
    position: absolute;
    height: 20px;
    margin-left: 67vw;
   }
   .w{
    margin-left:35vw;
    margin-top: 2vh;
   }
   #w1 {
    height: 4vh;
    border: none;
    width: 13vw;
    
   }
   #w2 {
    height: 4svh;
    border: none;
    width: 12vw;
    margin-left: 2vw;  
}
.p{
    margin-left: 29vw;
    margin-top: 2vh;
    position: ;
}
#p1 {
    padding-left:3.5vw;
    margin-left: 2vw;
}
.p2 a{
    position: relative;
    text-decoration: none;
    padding-left: 0.5vw;
    
}
.p2 {
   
    
    margin-top: -5.5vh;
    margin-left: -16vw;
    text-align: center;
    position: relative;
}
.bt{
    width: 18vw;
    height: 6.5vh;
    border-radius: 2rem;
    border-color: rgb(244, 241, 237);
    float: right;
    margin-right: 3vw;
    margin-top: -2vh;
}
@media screen and (max-width: 800px){
    .nav p, .p .se, #p1{width: 100%;}  
}